In [1]:
# https://www.kaggle.com/datasets/CooperUnion/anime-recommendations-database

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/rating.csv")

In [4]:
df.shape

(7813737, 3)

In [5]:
df.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [6]:
# -1 if the user watched it but didn't assign a rating
df["rating"].min()

-1

In [7]:
df["rating"].max()

10

In [8]:
df.isnull().sum()

user_id     0
anime_id    0
rating      0
dtype: int64

In [9]:
df = df[df["rating"] != -1]

In [10]:
df.shape

(6337241, 3)

In [11]:
df.to_csv("../data/preprocessed_rating.csv", index=False)